body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill-opacity: .3;
}

.node.fixed {
  fill: #f00;
}

.node.selected {
  fill-opacity: 1.0;
}

.packet {
  fill: #ff0000;
  stroke: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

